<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>게시글 리스트 페이지</title>

      <style>

        .searchBox {
          margin-bottom: 10px;
        }

        #searchForm select,
        #searchForm input,
        #searchForm button {
          height: 40px;
        }

        #searchForm input {
          width: 400px;
        }

        table,th,td {
          border: black 1px solid;
          text-align: center;
          border-collapse: collapse;
        }

        a:link {
          text-decoration: none;
        }

        a:hover {
          background-color: dodgerblue;
        }

        .on {
          background-color: darkorange;
          border: black 1px solid;
          margin: 0 5px;
          padding: 5px;
        }

        #paging {
          display: inline-block;
        }

        #paging > a {
          border: black 1px solid;
          margin: 0 5px;
          padding: 5px;
        }

      </style>    
  </head>

  <body>
    <div class="content">
      <div>
        <h1>게시판 리스트</h1>
      </div>

      <!-- 검색 -->
      <div class="searchBox">
        <form id="searchForm" onsubmit="return false;" autocomplete="off">
          <select id="searchType" name="searchType" title="검색유형선택">
            <option value="">전체 검색</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="writer">작성자</option>
          </select>
          <input type="text" id="keyword" name="keyword" placeholder="검색 키워드를 입력해주세요." title="키워드 입력"/>
          <button type="button" onclick="movePage(1)"><span>검색</span></button>
        </form>
      </div>
      
      <!-- 리스트 -->
      <table class="tb_board">
        <colgroup>
          <col style="width:70px" /><col style="width:300px" /><col style="width:100px" /><col style="width:150px" /><col style="width:70px" />
        </colgroup>
        <thead>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">등록일</th>
          <th scope="col">조회</th>
        </thead>

        <!-- 리스트 렌더링 영역 -->
        <tbody id="list">
          
        </tbody>
      </table>

      <br>

      <!-- 페이지네이션 렌더링 영역 -->
      <div id="paging">

      </div>

    </div> <!-- content 영역 -->

    <p>
      <a th:href="@{/post/write}">글쓰기</a>
    </p>
    
    <script th:inline="javascript">
      /* <![CDATA[ */

      window.onload = () => {

        setQueryStringParams();

        findAllPost();
      }

      /* 쿼리 스트링 파라미터 세팅 */
      function setQueryStringParams() {

        if (!location.search) {
          return false;
        }

        const form = document.getElementById("searchForm");

        new URLSearchParams(location.search).forEach((value, key) => {
          if (form[key]) {
                form[key].value = value;
            }
        }) 
      }



      function findAllPost() {

        // 1. 리스트 값 가져오기
        const list = [[${response.list}]];
        
        // 리스트에 아무것도 없는 경우, 메시지 띄워 주고 여기서 종료 시키는 것이 좋을듯
        //  -> 자바스크립트는 위에서 아래로 실행 된다. 굳이 밑으로 내려가서 drawList 실행 시 거를 필요X
        if( !list.length ) {
          document.getElementById("list").innerHTML = 
          `<td colspan="5">
            <div class="no_data_msg">검색된 결과가 없습니다.</div>
          </td>`;
        }

        // 2. 페이지네이션 값 가져오기
        const pagination = [[${response.pagination}]];
        
        // 요청 시 Modelattribute를 통해 전달한 SearchDto
        const params = [[${params}]];

        // 리스트 생성 시 옆에 표시 될 번호
        let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize); 
        
        // 리스트 렌더링
        drawList(list, num);
        
        // 페이지네이션 렌더링
        drawPage(pagination, params);
      }


      function drawList(list, num) {
        
        let html = '';

        list.forEach((row) => {
          html +=
          `
          <tr>
            <td>${row.noticeYn === false ? num-- : "공지"}</td>
            <td><a href="javascript:void(0);" onclick="goViewPage(${row.id});">${row.title}</a></td>
            <td>${row.writer}</td>
            <td>${dayjs(row.createdDate).format("YYYY-MM-DD HH:mm")}</td>
            <td>${row.viewCnt}</td>
          </tr>
          `;
        })

        document.getElementById("list").innerHTML = html;
        
      }


      
      /* 쿼리스트링 존재 유무에 따른 게시글 상세 페이지 이동 */
      function goViewPage(id) { 
        // const queryString =  (location.search) ? location.search + "&id=" + id : "?id=" + id;
        //  : 문자열이 합쳐지는 것 때문에 지저분함 -> 백틱 사용해서 개선
        const queryString =  (location.search) ? location.search + `&id=${id}` : `?id=${id}`;
        location.href = "/post/view" + queryString;
      }



      function drawPage(pagination, params) {
        if(!pagination || !params) {
          // pagination이 없다는 것은 조회된 list 개수가 0 이라는 것
          //  => PostService > findAllPost에서 처리 된 것임
          throw new Error("Missing required parameters");
        }

        let html = '';

        // 이전 페이지 여부
        if(pagination.existPrevPage) {
          html +=
          `
          <a href="javascript:void(0);" onclick="movePage(1)">첫 페이지</a>
          <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})">이전 페이지</a>
          `;
        }

        // 중간 번호 생성
        for(let i = pagination.startPage; i<=pagination.endPage; i++) {
            html +=
              i == params.page 
              ? `<span class="on">${i}</span>`
              : `<a href="javascript:void(0);" onclick="movePage(${i})">${i}</a>`

            }

        // 다음 페이지 여부
        if(pagination.existNextPage) {
          html +=
          `
          <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1})">다음 페이지</a>
          <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount})">마지막 페이지</a>
          `;
        }

        document.getElementById("paging").innerHTML = html;
      }


      function movePage(page) {

        const form = document.getElementById("searchForm"); 

        console.log("form : ", form);

        const queryParams = {
          page : (page) ? page : 1,
          recordSize : 10,
          pageSize : 10,
          searchType : form.searchType.value,
          keyword : form.keyword.value
        }

        console.log("queryParams", queryParams)
        
        location.href = location.pathname + "?" + new URLSearchParams(queryParams).toString();
      }
      

      /* ]] */
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>

  </body>
</html>