<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>게시글 작성 페이지</title>
    </head>

    <body>
        <div>
            <h1>게시글 상세 조회</h1>
        </div>
        
        <table border="3">
            <tbody>
                <tr>
                    <th>공지</th>
                    <td th:text="${post.noticeYn == false ? '일반' : '공지'}"></td>

                    <th>등록일</th>    
                    <td colspan="3" th:text="${#temporals.format(post.createdDate, 'YYYY-MM-DD hh:mm')}">등록일</td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td colspan="3" th:text="${post.title}">제목</th:text=></td>
                </tr>
                <tr>
                    <th>작성자</th>    
                    <td colspan="3" th:text="${post.writer}">작성자</td>
                </tr>
                <tr>
                    <th>내용</th>    
                    <td colspan="3" th:text="${post.content}">내용</td>
                </tr>
            </tbody>
        </table>

        <p class="btn">
            <button type="button" onclick="goWritePage();">수정</button>
            <button type="button" onclick="deletePost();">삭제</button>
            <button type="button" onclick="goListPage();">목록</button>
        </p>



        <script th:inline="javascript">
            /*<![CDATA[*/

            function goWritePage() {

                location.href = "/post/write" + location.search;

            }



           function deletePost() {
                const id = [[${post.id}]];

                // confirm() - 확인 = true / 취소 = false
                // 상세 조회를 통해서 들어왔으므로 당연히 id는 null이 아니다. 
                // 글이 존재하는데 id가 없을 수는 없기 때문이다.
                // id != null 조건 붙일 필요 없음 
                if(!confirm(id + "번 게시글을 삭제하시겠습니까?")) {
                    // 취소 눌렀을 때 deletePost 종료
                    return false;
                }

                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += 
                    `
                    <input type="hidden" name="${key}" value="${value}"/>
                    `;    
                })


                const formHtml = 
                `
                <form id="deleteForm" action="/post/delete" method="post">
                    ${inputHtml}
                </form>
                `

                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                // 위 부분이 필요한 이유
                //  :   document.body.append() 메서드는 문서(document) 객체를 직접 추가할 수 없다. 
                //      문서 객체는 #document 타입이며, 문서의 최상위 노드이기 때문에 BODY 엘리먼트 안에 직접 추가될 수 없다.
                //      해결 방법은 doc.body.firstChild를 사용하여 폼(form) 엘리먼트를 추출한 다음, 그것을 body에 추가하는 방식을 사용할 수 있다. 
                document.body.append(form);
                document.getElementById("deleteForm").submit();
           }



           function goListPage() {

                const queryString = new URLSearchParams(location.search);
                queryString.delete("id");

                location.href = "/post/list" + "?" + queryString.toString();
            }

            /* ]] */
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    </body>
</html>