<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>게시글 작성 페이지</title>
    </head>

    <body>
        <div>
            <h1>게시글 작성</h1>
        </div>
        
        <form id="saveForm" method="post" autocomplete="off">
            <!-- 수정일 때, 서버로 전달할 id 값 여부 담는 값 -->
            <!-- <input type="hidden" id="id" name="id" th:if="${post != null}" th:value="${post.id}" /> -->
            <!-- 공지글 여부 담는 값 -->
            <input type="hidden" id="noticeYn" name="noticeYn" />    
            <table border="3">
                <tbody>
                    <tr>
                        <th>공지</th>
                        <td><input type="checkbox" id="isNotice" name="isNotice" /></td>
                        <th>등록일</th>    
                        <td colspan="3"><input type="text" id="createdDate" name="createdDate" readonly></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td colspan="3"><input type="text" name="title" maxlength="50" placeholder="제목을 입력해주세요."></td>
                    </tr>
                    <tr>
                        <th>작성자</th>    
                    <td colspan="3"><input type="text" name="writer" maxlength="10" placeholder="작성자을 입력해주세요."></td>
                    </tr>
                    <tr>
                        <th>내용</th>    
                    <td colspan="3"><textarea name="content" cols="50" rows="10" placeholder="내용을 입력해주세요."></textarea></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" id="saveBtn" onclick="savePost()">저장</button>
            <button type="button" id="listBtn" onclick="goListPage()">목록</button>
        </form>


        <script th:inline="javascript">
            /*<![CDATA[*/

            window.onload = () => {
            
                renderPostInfo(); 
            
            }
            
            function renderPostInfo() {

                const post = [[${post}]];
                
                if(post == null) {
                    initCreatedDate();
                    return false;
                }

                const form = document.getElementById("saveForm");
               
                const fields = ["id", "title", "writer", "content"];

                const value = post.noticeYn;
                console.log("value : ", value);

                form.isNotice.checked = post.noticeYn;
                form.createdDate.value = dayjs(post.createdDate).format("YYYY-MM-DD HH:mm");

                fields.forEach(field => {
                    form[field].value = post[field];
                })
            }


            function initCreatedDate() {

                document.getElementById("createdDate").value = dayjs().format("YYYY-MM-DD");

            }

            function savePost() {
                const form = document.getElementById("saveForm");
                document.getElementById("saveBtn").disabled = true;
                form.noticeYn.value = form.isNotice.checked;

                /* 수정 시 이전 페이지 정보 넘기기 */
                new URLSearchParams(location.search).forEach((value, key) => {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = key;
                    input.value = value;
                    form.append(input);
                })

                // 1. 저장 후 list로 갔을 때 키워드 검색/키워드 유지 되도록 하기
                // 2. 저장 시 view로 이동 이동 시 쿼리스트링 유지 거기서 목록 누르면 다시 또 유지

                form.action = [[${post == null}]] ? "/post/save" : "/post/update";
                form.submit();
            }


            function goListPage() {

                const queryString = new URLSearchParams(location.search);
                queryString.delete("id");

                location.href = "/post/list" + "?" + queryString.toString();
            }

            

            /* ]] */
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    </body>
</html>